<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--  My stylesheet and JavaScript script  -->
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script href="/assets/script.js"></script>

    <title><%= title %></title>
  </head>
  <body>

    <div class= "jumbotron jumbotron-fluid text-center">
      <div class= "container">
        <h1 class= "display-4 text-muted">PEOPLE LIST</h1>
        <p class= "lead">
          <nav class="nav justify-content-center nav-pills">
            <a href="list" class= "nav-link" data-toggle="list">Show the list</a>
            <a href="add" class= "nav-link" data-toggle="add">Insert a person</a>
          </nav>
        </p>
      </div>
    </div>